body{
    background-image:url(cloudybackground.webp);
    text-align:center
  }
  body{image-orientation:url(hotbaloon.jpeg);
    text-align:center
  }


  .counter{
    background-color: var(--bs-yellow);
    width: 150px;
    height: 150px;
    line-height: 150px;
    font-size: 34px;
    margin: auto;
    border-radius: 50%;

